.imageDiv{
    width: 487px;
    height: 487px;
    box-shadow: 0px 4px 20px 0px #0000001A;
    background-color: white;
    float: left;

}
.image{
    width: 487px;
    height: 487px;
}
.destiptionDiv{
    width: 756px;
    height: 687px;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000001A;
    margin-left: 560px;
}
.descripTitle{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding: 20px;
}
.descripName{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding: 20px;
}
.line{
    background: #E8AA31;
    border: 0.5px solid #E8AA31;
    margin-left: 20px;
    margin-right: 20px;

}
.text{
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 20px;
}

.stars{
    float: right;
    margin-right: 20px;
}
.activity svg {
	margin-left: 20px;
    float: right;
}
.right{
    margin: 20px;
}
.mater{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #ABABAB;
    padding-left: 100px;
}