<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">

  <title>elem shop</title>


  <link rel="stylesheet" href="C:\Users\igrok\Desktop\ecommerce-greenatom\components\cart\Cart.module.css">


</head>

<body>
    
<div class="first">

    <div class="imsec">
        <img src="image/1.jpg" class="image">
    </div>
    <div class="textName">
        Очки смешные
    </div>
    <div>
        <div class="textSize">sizeXsize</div>
        <div class="textMaterial">Material</div>
    </div>
    <div>
        <div>
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
        </div>
        <div class="textFeedback">1 Отзыв</div>
    </div>
    <div class="divLine">

        <hr class="line">
    </div>
    <div>
        <div class="price">500 р.</div>
        <div class="imageTwo"><img src="element/scales.svg" class="scale"><img src="element/like.svg"></div>
    </div>
    <div>
        <button class="but"><p class="textBuy">В корзину</p><img src=""></button>

    </div>
</div>
    
<div class="first">

    <div class="imsec">
        <img src="image/2.jpg" class="image">
    </div>
    <div class="textName">
        Одежда студента
    </div>
    <div>
        <div class="textSize">sizeXsize</div>
        <div class="textMaterial">Material</div>
    </div>
    <div>
        <div>
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
            <img src="element/Star.svg" class="star">
        </div>
        <div class="textFeedback">1 Отзыв</div>
    </div>
    <div class="divLine">

        <hr class="line">
    </div>
    <div>
        <div class="price">11 500 р.</div>
        <div class="imageTwo"><img src="element/scales.svg" class="scale"><img src="element/like.svg"></div>
    </div>
    <div>
        <button class="but"><p class="textBuy">В корзину</p><img src=""></button>

    </div>
</div>
</body>
</html>