.header {
	background: var(--black);
	color: var(--white);
	font-weight: 600;
	height: 50px;
	display: grid;
	grid-template-columns: 1fr 20px;
	padding: 0 30px;
	align-items: center;
	border-bottom: 1px var(--gray) solid;
}

.content {
	padding: 20px 30px;
}

.header button {
	background: none;
	border: none;
	outline: none;
}

.hide {
	display: none;
}

.arrowUp svg {
	transform: rotate(180deg);
}