.wrapper {
	display: grid;
	grid-template: auto 1fr auto / auto minmax(320px, 1200px) auto;
	gap: 40px 30px;
	grid-template-areas:
		"header header header"
		". body ."
		"footer footer footer";
	min-height: 100vh;
}

.wrapperLeftSidebar {
	display: grid;
	grid-template: auto 1fr auto / auto 250px minmax(320px, 920px) auto;
	gap: 40px 30px;
	grid-template-areas:
		"header header header header"
		". sidebar body ."
		"footer footer footer footer";
	min-height: 100vh;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}
.body {
	grid-area: body;
	outline: none;
}

.footer {
	grid-area: footer;
}

.skipLink {
	display: block;
	position: fixed;
	left: 100px;
	top: 0;
	overflow: hidden;
	height: 0;
	background: var(--primary);
	color: var(--white);
}

.displayed {
	height: auto;
}

@media screen and (max-width: 840px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
		gap: 10px;
	}
	.sidebar {
		display: none!important;
	}

	.body {
		padding: 15px;
	}
}
