.footer {
	min-height: 1071px;
	background: var(--black);
	color: var(--white);
	display: grid;
	grid-template: auto / 1fr auto auto;
	gap: 40px;
	align-items: center;
	padding: 20px 30px;
	font-size: 16px;
	line-height: 20px;
}

.footerFirstFloor {
	grid-template-columns: 3fr 3fr 3fr 3fr;
	display: grid;
}

.section {
	width: 234px;
}

.footer a:hover {
	color: var(--gray-light);
}

@media (max-width: 756px) {
	.footer {
		grid-template: auto auto auto / 1fr;
		gap: 10px;
	}
}
